* {
    margin: 0;
    padding: 0;
  }
  .auth-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
    margin: 0;
    max-width: none;
    overflow: hidden;
  }
  .auth-container::after {
    content: "";
    background: url("../static/images/purple.jpg");
    background-size: center;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
  
  .signup-form {
    transform:translateY(40%);
    width: 30%;
    margin: auto;
    border-radius: 15px;
    height: 40%;
    background: #F3F9FB;
    padding: 0 10px;
  }
  
  .auth-container h4, .container h4 {
    transform:translateY(370%);
    text-align: center;
    margin-bottom: 50px;
    font-family:  serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 3px 0px #000;
  }
  .btn {
    width: 80%;
    height: 50px;
    border-radius: 0.25em;
    background:#2EA95F;
    margin-left: 10%;
  }
  
  .btn:hover {
    background: #279540;
  }
  
  .tabs .tab a.active {
    background: #F3F9FB;
  }
  
  .tabs {
    background:#F3F9FB;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .tabs .tab a.active {
    color: #26a29a;
  }
  
  .tabs .tab a {
    color: #000;
  }
  
  .auth-tabs {
    margin-bottom: 50px;
  }
  
  input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea  {
    margin-bottom: 40px;
  }
  
  @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
  
  .tabs .indicator {
    background-color: #26a29a;
  }
  
  .auth-form {
    margin: auto !important;
  }
  
  .auth-form label {
    font-size: 18px;
  }
  
  .input-search input[type=text] {
    position: relative;
    border: 2px solid #D6D6D6;
    border-radius: 50px;
    padding: 0.5em 1em;
    color: #B8B6B6;
  }
  
  
  .input-search i {
    transform: translateY(190%);
    color: #B8B6B6;
  }
  
  .sub-body {
    margin-left: 3%;
  }
  
  .body {
    margin: 2%;
  }
  
  .add-assignment {
    transform: translate(300%, 80%);
  }
  
  .signout a {
     color: #34d058;
  }
  
  .no-assignment {
    text-align: center;
    margin: 4%;
  }
  
  .no-assignment p {
    font-size: 30px;
    color: #939393;
  }
  
  .table {
    box-shadow: -9px -7px 34px 2px #CACCCD;
  }
  
  .assignment-container {
    width: 50%;
    height: 70%;
  }
  
  .assignment-detail {
    border: 1px solid #CACCCD;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    padding: 30px;
    background: #fff;
    height: 60%;
    margin-top: 50px;
  }
  
  .single-assignment .col {
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
  }
  
  .assignment-detail .btn {
    width: 40%;
    height: 50px;
    border-radius: 0.25em;
    margin-left: 0;
  }
  
  .assignment-detail .btn-delete {
    background: #FF2323;
  }
  
  .single-assignment h4 {
    transform: none;
    margin-bottom: 0;
  }
  
  .single-assignment .col p {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .edit-delete {
    height: 50px;
    width: 100%;
  }
  .edit-delete a {
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .edit-delete button {
    float: right;
  }
  
  .assignment-pass{
    width: 50%;
    margin: 10% auto;
    background: #fff;
    height: 50%;
  }
  
  .input-pass label, .input-search label{
    display: none;
  }
  
  .assignment-pass input[type=text] {
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    padding: 5px;
  }
  
   .assignment-pass h4 {
     transform: none;
   }
  
   .assignment-pass input[type=text]:focus {
     border:1px solid #26a69a;
   }
  
  .submit-assignment {
    border: 1px solid #CACCCD;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    background: #fff;
    height: 50%;
    margin-top: 50px;
  }
  
  .submit-assignment .border-left {
    border-left: 1px solid #CACCCD;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .submit-assignment .border-right {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .submit-assignment .file-field .btn {
    height: 4rem;
  }
  
  .pagination-div {
    text-align: center;
  }
  
  .pagination li {
    width: 30px;
  }
  .pagination span {
    margin-top: 5px;
  }
  .nav {
    background-color: #502900;
  }

  #signup form select {
    display: block;
  }
