{% extends "ams_app/base.html" %}

{% block content %}
  {% if validlink %}
  <div class="forgot-password">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  </div>
  {% else %}
  <div class="forgot-password">
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  </div>
  {% endif %}
{% endblock %}
