{% extends "ams_app/base.html" %}
{% block title %}Assignment Management System{% endblock %}
{% block navbar %}
{% endblock %}
{% block content%}
<div class="container auth-container">
  <h4 class="auth-header">Assignment Management System</h4>
  <div class="signup-form">
    <div class="row">
      <div class="col s12 auth-tabs">
        <ul class="tabs">
          <li class="tab col s6"><a href="#signup">Sign up</a></li>
          <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        </ul>
      </div>
      <div id="signup" class="col s12 signup-tab">
        <form method="POST" action="/">
          {% csrf_token %}
          <label for="username">Username </label>
          {{ user_form.username }}
          <label for="email">Email </label>
          {{ user_form.email }}
          <label for="role">Role </label>
          {{ profile_form.role }}
          <label for="role">Matriculation number </label>
          {{ profile_form.matric_number }}
          <label for="password">Password </label>
          {{ user_form.password }}
          <button class="btn waves-effect waves-light" type="submit" name="signup">Sign up
            <i class="material-icons right">send</i>
          </button>
        </form>
        <div>
          <script>
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags %}
                    {% if message.tags == "error" %}
                      Materialize.toast('{{ message }}', 2000, 'red');
                    {% else %}
                      Materialize.toast('{{ message }}', 2000, 'green');
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}
          </script>
        </div>
      </div>
      <div id="login" class="col s12 login-tab">
        <form method="POST" action="/login">
          {% csrf_token %}
          <label for="username">Username </label>
            {{ login.username }}
          <label for="password">Password </label>
            {{ login.password }}
          <button class="btn waves-effect waves-light" type="submit" name="login">Log in
            <i class="material-icons right">send</i>
          </button>
        </form>
        <ul>
          <li class="forgot-password-link">
            <a href="/password_reset/"> Forgot password?</a>
        </li>
        </ul>
        <div>
          <script>
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags %}
                    {% if message.tags == "error" %}
                      Materialize.toast('{{ message }}', 2000, 'red');
                    {% else %}
                      Materialize.toast('{{ message }}', 2000, 'green');
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}