{% extends "ams_app/base.html" %}
{% block title %}Assignment Management System{% endblock %}
{% block content%}
<div class="container assignment-pass">
  <div>
    <h4> Enter the Assignment Passcode</h4>
  </div>
  <form method="POST" action={% url 'pre_submission' id=assignment_id%}>
    {% csrf_token %}
    <div class="row pass-row">
      <div class="input-field col s12 input-pass">
        {{ pass }}
      </div>
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" name="pass">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<div>
  <script>
    {% if messages %}
        {% for message in messages %}
          {% if message.tags %}
            {% if message.tags == "error" %}
              Materialize.toast('{{ message }}', 2000, 'red');
            {% else %}
              Materialize.toast('{{ message }}', 2000, 'green');
            {% endif %}
          {% endif %}
        {% endfor %}
    {% endif %}
  </script>
</div>
{% endblock %}